html {
  background-color: #f2f2f2;
}

/* Recipe */
.recipe-section {
  margin-top: 1rem;
}

ul.recipe-list {
  padding-left: 1rem;
}
ul.recipe-list li {
  list-style-type: circle;
}

/* Materizalize adjustments */

.page-footer {
  padding-top: 0;
  margin-top: 3rem;
}

.brand-logo {
  text-indent: 1rem;
}

.card .card-image .card-title {
  border-bottom: 1px solid #ddd;
  color: inherit;
  display: inline-block;
  position: relative;
  width: 100%;
}

.card-content a {
  word-break: break-all;
}
