html {
  background-color: #f2f2f2;
}

.recipe-container {
  background-color: white;
  padding: 1rem;
}

.recipe-header {
  margin-bottom: 1rem;;
}

.recipe-container ul {
  padding-left: 1rem;
}

.recipe-container li {
  list-style-type: circle;
}
